  #welcome {
    color: black;
    text-align: center;
    font-size: 100px;
  }

  #start {
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80px;
  }

  #score {
    font-size: 35px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  #chrono {
    color: black
  }

  #restart {
    color: black;
  }

  /* #winText{
   color: #94e479;
  }


 .loserText{
    font-style: italic;
    font-size: 70px;
    color: white;
    display: flex
  }
  */